html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
}

.pages_content {
    flex: 1; /* Empujar footer al fondo */
}

.page_container {
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

h1 {
    text-align: center;
    font-family: 'Rubik';
    font-weight: 800;
}

.btn-hover-details:hover, 
.btn-hover-edit:hover {
    color: #6c757d !important;
    background-color: rgba(108, 117, 125, 0.25) !important;
    border-color: #6c757d !important;
}

.btn-hover-details:active, 
.btn-hover-edit:active {
    color: #ffffff !important;
    background-color: rgb(108, 117, 125) !important;
    border-color: #6c757d !important;
}

.btn-hover-delete:hover {
    color: #dc3545 !important;
    background-color: rgba(220, 53, 70, 0.25) !important;
    border-color: #dc3545 !important;
}

.btn-hover-delete:active {
    color: #ffffff !important;
    background-color: rgb(220, 53, 70) !important;
    border-color: #dc3545 !important;
}

.card-text {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
}