html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
}

.pages_content {
    flex: 1; /* Empujar footer al fondo */
}