{% extends "base.html" %}

{% block title %}
Details '{{author.name}}'
{% endblock %}

{% block body %}
<section class="page_container">
<h1>Details page for '{{author.name}}'</h1>

<table border="1">
  <tr>
    <th style="padding: 5px;">ID</th>
    <td style="padding: 5px;">{{author.id}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Name</th>
    <td style="padding: 5px;">{{author.name}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Biography</th>
    <td style="padding: 5px;">{{author.biography}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Books</th>
    <td style="padding: 5px;">
      {% for book in author.books %}
        {{ book.title }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </td>
  </tr>
</table>
</section>

{% endblock %}