{% extends "base.html" %}

{% block title %}
Your Authors
{% endblock %}

{% block style %}
.actions {
    float: right;
}

.author {
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 10px 0px;
}
{% endblock %}

{% block body %}
<section class="page_container">
<h1>Your Saved Authors</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for author in authors %}
        <div class="col">
            <div class="card shadow-sm">
            {% if author.image %}
            <img src="{{author.image}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{author.name}}" style="max-height: 250px; object-fit: contain;">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{author.name}}</text>
                </svg>
            {% endif %}
            
            <div class="card-body">
                <h5 class="card-title">{{author.name}}</h5>
                {% if author.biography %}
                <p class="card-text">{{author.biography}}</p>
                {% endif %}
                {% if author.books %}
                    {% for book in author.books %}
                    <p class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-pill">
                        {{ book.title }}
                    </p>
                    {% endfor %}
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" href="/author/{{author.id}}/" class="btn btn-sm btn-outline-secondary">Details</a>
                        <a type="button" href="/author/{{author.id}}/update/" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a type="button" href="/author/{{author.id}}/delete/" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Are you sure you want to delete {{author.name}}?')">Delete</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}

        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body d-flex justify-content-center align-items-center" style="height: 225px;">
                    <a href="/author/create/" class="btn btn-dark btn-lg w-100">Add a new author</a>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>
{% endblock %}


<section class="page_container">
    <h1>Your Saved Authors</h1>
    {% for author in authors %}
    <div class="author">
        {{author.name}}
        {% if author.biography %}
        - {{author.biography}}
        {% endif %}
        <span class="actions">
            <a href="/author/{{author.id}}/">Details</a> |
            <a href="/author/{{author.id}}/update/">Update</a> |
            <a href="/author/{{author.id}}/delete/" onclick="return confirm('Are you sure you want to delete this author?')">Delete</a> |
        </span>
    </div>
    {% endfor %}
    <span class="create_author">
        <a type="button" href="/author/create/" class="btn btn-dark">Add author</a>
    </span>
    </section>