{% extends "base.html" %}

{% block title %}
'{{author.name}}' details
{% endblock %}

{% block body %}
<section class="page_container">
<h1>{{author.name}}</h1>

<table border="1">
  <tr>
    <th style="padding: 5px;">ID</th>
    <td style="padding: 5px;">{{author.id}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Name</th>
    <td style="padding: 5px;">{{author.name}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Biography</th>
    <td style="padding: 5px;">{{author.biography}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Books</th>
    <td style="padding: 5px;">
      {% for book in author.books %}
        {{ book.title }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </td>
  </tr>
</table>

<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
      <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{author.name}}</h5>
        {% if author.biography %}
        <p class="card-text">{{author.biography}}</p>
        {% endif %}
        {% if author.books %}
          {% for book in author.books %}
          <p class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-pill">
            {{ book.title }}
          </p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}