{% extends "base.html" %}

{% block title %}
Your Library
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<section class="page_container">
<h1>Your Bookshelf</h1>

<div class="container">
    <div class="card shadow-sm p-3 mb-4">
        <div class="row align-items-center">
            <div class="col-md-8">
                <form method="get">
                    <div class="input-group" style="height: 48px;">
                        <input type="text" name="search_performed" class="form-control" 
                               placeholder="Search books..." value="{{ search_performed }}">
                        <button type="submit" class="btn btn-dark">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <a href="/book/create/" class="btn btn-dark btn-lg w-100" style="height: 48px;">
                    Add a New Book <i class="bi bi-plus-square"></i>
                </a>
            </div>
        </div>
    </div>

    {% if not books %}
        {% if search_performed %}
            <div class="alert alert-warning text-center" role="alert">
                No books match your search: "<strong>{{ search_performed }}</strong>"
            </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                You do not have books in your library.
                <br>
                Add some books!
            </div>
        {% endif %}

    {% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">  
        {% for book in books %}
        <div class="col">
            <div class="card shadow-sm">
            {% if book.image %}
            <img src="{{book.image}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{book.title}}" style="object-fit: contain;">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{book.title}}</text>
                </svg>
            {% endif %}
            
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                {% if book.description %}
                <p class="card-text">{{book.description}}</p>
                {% endif %}
                {% if book.authors %}
                    {% for author in book.authors %}
                    <a href="/author/{{author.id}}/" class="text-decoration-none">
                        <p class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-pill">
                            {{author.name}}
                        </p>
                    </a>
                    {% endfor %}
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" href="/book/{{book.id}}/" class="btn btn-sm btn-outline-secondary btn-hover-details">Details</a>
                        <a type="button" href="/book/{{book.id}}/update/" class="btn btn-sm btn-outline-secondary btn-hover-edit">Edit</a>
                        <a type="button" href="/book/{{book.id}}/delete/" class="btn btn-sm btn-outline-secondary btn-hover-delete" onclick="return confirm('Are you sure you want to delete {{book.title}}?')">Delete</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</section>
{% endblock %}