{% extends "base.html" %}

{% block title %}
Details '{{book.title}}'
{% endblock %}

{% block body %}
<section class="page_container">
<h1>Details page for '{{book.title}}'</h1>

<table border="1">
  <tr>
    <th style="padding: 5px;">ID</th>
    <td style="padding: 5px;">{{book.id}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Name</th>
    <td style="padding: 5px;">{{book.title}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Description</th>
    <td style="padding: 5px;">{{book.description}}</td>
  </tr>
  <tr>
    <th style="padding: 5px;">Author</th>
    <td style="padding: 5px;">
      {% for author in book.authors %}
        {{ author.name }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th style="padding: 5px;">State</th>
    <td style="padding: 5px;">{{book.state.name}}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; padding: 5px;"><strong><u>Category:</u> </strong>{{book.category.name}}</td>
  </tr>
</table>
</section>

{% endblock %}