{% extends "base.html" %}

{% block title %}
Personal library
{% endblock %}

{% block body %}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Have all your lectures in one place</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">In your private library, you can add as many books as you want, from classic novels to the latest bestsellers. Categorize them, search through your collection, and enjoy a personalized reading journey.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a type="button" href="/bookshelf/" class="btn btn-primary btn-lg px-4 me-sm-3" >My library</a>
            <a type="button" href="/book/create/" class="btn btn-outline-secondary btn-lg px-4">Add book</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
        <div class="container px-5" style="overflow: hidden; width: 700px; height: 500px; border-radius: 15px;">
            <img src="https://media.istockphoto.com/id/604333946/vector/bookshelves-with-books-on-laptop-screen-online-digital-library.jpg?s=612x612&w=0&k=20&c=0HCRo7OUTHJBMCuE9V9T6psd1b0eODVfxba6a2qJc2U="
                 class="img-fluid border rounded-3 shadow-lg mb-4" 
                 alt="Digital Bookshelf" 
                 style="object-fit: cover; transform: scale(1.8);" loading="lazy">
        </div>
    </div>
</div>

<hr class="my-5" style="border: none; background-color: #ffffff; height: 45px; 
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.6), inset 0 -5px 15px rgba(0, 0, 0, 0.6);">

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.freepik.com/premium-vector/online-library-people-reading-books-smartphone-with-reader-app-online-book-store-library-education-flat-concept-illustration-education-book-app-digital-bookshelf-students_53562-11803.jpg" 
                 class="d-block mx-lg-auto img-fluid" 
                 alt="Add authors" 
                 width="700" height="500" 
                 loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Track your favourite authors</h1>
            <p class="lead">Store your favourite authors alongside your books, easily organize them, and keep track of all their works and creations in one convenient, centralized place, making it simple to manage your entire literary collection.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" href="/authors/" class="btn btn-primary btn-lg px-4 me-md-2">My authors</a>
                <a type="button" href="/author/create" class="btn btn-outline-secondary btn-lg px-4">Add author</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}