{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
<section class="page_container">

  <div class="container">
  
    <div class="card shadow-sm">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <form method="POST">
              {% for field in form %}  
                {% if field.name == 'email' %}
                <div class="mb-3">
                  <label class="form-label" for="{{ field.id }}">{{ field.label }}</label>
                  <input class="form-control {% if field.errors and request.method == 'POST' %}is-invalid{% endif %}"
                         id="{{ field.id }}"
                         name="{{ field.name }}"
                         type="email">
                  {% if field.errors and request.method == 'POST' %}
                  <div class="invalid-feedback">
                    {% for error in field.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                  
                {% elif field.name == 'password' %}
                <div class="mb-3">
                  <label class="form-label" for="{{ field.id }}">{{ field.label }}</label>
                  <input class="form-control {% if field.errors and request.method == 'POST' %}is-invalid{% endif %}"
                         id="{{ field.id }}"
                         name="{{ field.name }}"
                         type="password">
                  {% if field.errors and request.method == 'POST' %}
                  <div class="invalid-feedback">
                    {% for error in field.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>

                {% elif field.name == 'remember' %}
                <div class="mb-3">
                    <input class="form-check-input"
                           id="{{ field.id }}" 
                           name="{{ field.name }}"
                           type="checkbox" 
                      {% if field.data %}checked{% endif %}>
                    <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
                </div>
  
                {% elif field.name == 'submit' %}
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
                  </div>
  
                {% endif %}
              {% endfor %}
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}