{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

<section class="page_container">

  <h1 class="h2 fw-bold text-center mb-3 pt-5">Log in to access your personal library</h1>

  <main class="d-flex justify-content-center align-items-center pt-4">
    <form method="POST" class="p-4 border rounded shadow-sm" style="max-width: 400px; width: 100%;">
      <h1 class="h3 mb-3 text-center">Login</h1>

      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      {% endif %}
      {% endwith %}

      {% for field in form %}
      {% if field.name == 'remember' %}
        <div class="form-check text-start">
            <input
              class="form-check-input"
              id="{{ field.id }}" 
              name="{{ field.name }}"
              type="checkbox" 
              {% if field.data %}checked{% endif %}>
            <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
        </div>
        {% elif field.name == 'submit' %}
          <button type="submit" class="btn btn-dark w-100 py-2 mt-4">{{ form.submit.label.text }}</button>
        {% else %}
          <div class="form-floating mb-3">
            <input 
              type="{{ 'email' if field.name == 'email' else 'password' if field.name == 'password' }}"
              class="form-control {% if field.errors and request.method == 'POST' %}is-invalid{% endif %}" 
              id="{{ field.id }}" 
              name="{{ field.name }}"
              placeholder="{{ field.label.text }}">
              <label for="{{ field.id }}">{{ field.label.text }}</label>
            {% if field.errors and request.method == 'POST' %}
              <div class="invalid-feedback">
                {% for error in field.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <p class="pt-5 text-body-primary text-center">¿Don't have an account? <a href="/signup/">Sign up</a></p>

      <p class="pt-3 text-body-secondary text-center">Rubén Cabrera Moya</p>
      <p class="text-body-secondary text-center">&copy; 2024 Personal library</p>
    </form>
  </main>

</section>

{% endblock %}

{% block footer %}
{% endblock %}