{% extends "base.html" %}

{% block title %}
Update {{author.name}}
{% endblock %}

{% block body %}
<section class="page_container">
<form method="POST">
    {% for field in form %}
        {% if field.name == 'book' %}
            <div>
                {{field.label}}<br>
                {% for book in field %}
                <label for="{{book.id}}">
                    <input type="checkbox" 
                        name="book" 
                        value="{{book.data}}"
                        {% if book.data in form.book.data %}checked{% endif %}>
                    {{book.label.text}}
                </label><br>
                {% endfor %}
            </div><br>
        {% else %}
            {{field.label}}<br>
            {{field}}<br><br>
            {% if field.errors and request.method == "POST" %}
            <br/>
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
</form>
</section>
{% endblock %}